<!-- ••[1]••••••••••••••••••••••••• product-list.component.html •••••••••••••••••••••••••••••• -->

<div class="app-product-list">
  <div
    class="m-auto my-4 max-w-3xl"
    *ngIf="productsWithCategory$ | async as products; else loadingRef"
  >
    <table mat-table [dataSource]="products">
      <!-- Id -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Product Code -->
      <ng-container matColumnDef="productCode">
        <th mat-header-cell *matHeaderCellDef>Product Code</th>
        <td mat-cell *matCellDef="let element">{{ element.productCode }}</td>
      </ng-container>

      <!-- Product name -->
      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef>Product Name</th>
        <td mat-cell *matCellDef="let element">{{ element.productName }}</td>
      </ng-container>

      <!-- Category -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let element">{{ element.category }}</td>
      </ng-container>

      <!-- Quantity In Stock -->
      <ng-container matColumnDef="quantityInStock">
        <th mat-header-cell *matHeaderCellDef>Quantity In Stock</th>
        <td mat-cell *matCellDef="let element">
          {{ element.quantityInStock }}
        </td>
      </ng-container>

      <!-- Price -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element">
          {{ element.price }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <div
    *ngIf="errorMessage"
    class="m-auto my-10 max-w-md rounded-md bg-red-500 p-4 text-center text-2xl text-white shadow-md"
  >
    {{ errorMessage }}
  </div>
</div>

<ng-template #loadingRef>
  <div class="m-auto my-10 max-w-md text-center text-2xl text-white">
    Loading ...
  </div>
</ng-template>
