// ••[1]••••••••••••••••••••••••• styles.scss •••••••••••••••••••••••••••••• //

@use '@angular/material'as mat;

@include mat.core();

$rxjs-y-el-paradigma-reactivo-primary: mat.define-palette(mat.$indigo-palette);
$rxjs-y-el-paradigma-reactivo-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$rxjs-y-el-paradigma-reactivo-warn: mat.define-palette(mat.$red-palette);

$rxjs-y-el-paradigma-reactivo-theme: mat.define-dark-theme((color: (primary: $rxjs-y-el-paradigma-reactivo-primary,
			accent: $rxjs-y-el-paradigma-reactivo-accent,
			warn: $rxjs-y-el-paradigma-reactivo-warn,
		)));

@include mat.all-component-themes($rxjs-y-el-paradigma-reactivo-theme);

@tailwind base;

@tailwind components;

@tailwind utilities;

html {
	height: 100%;

	body {
		font-family: Roboto, "Helvetica Neue", sans-serif;
		height: 100%;
		margin: 0;
	}
}
